@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');

/*------start varibles of Colors and fonts-------------*/
$primaryColor: #ff6a6a;
$primaryfont:'Montserrat', sans-serif;
$footercolor:#000;

/*------start varibles breaking points---------*/
$mobile: 767px;
$tablets:768px;
$computers:1024px;
$extraLarge:1400px;